/* GENERAL  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #6d7075;
    
}

/* UTILITIES */

.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.px20 {
    padding-left: 20px;
    padding-right: 20px;
}

.my20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

h1, h2, h3, h4 {
    color: #fff;
    margin-bottom: 10px;
}

/* BACKGROUNDS */

.bg-main {
    background-color: #141922;
}

.bg-black {
    background-color: #000;
}

.bg-grey {
    background-color: #282828;
}

/* APP */

.app {
    height: 100vh;
}

.container {
    flex-grow: 1;
}

/* SIDEBAR  */

.sidebar {
    width: 200px;
    font-size: 12px;
    font-weight: bold;
}

.sidebar .side-nav {
    flex-grow: 1;
}

.brand img {
    width: 80%;
}

.menu {
    list-style: none;
}

.menu .link{
    text-decoration: none;
    align-items: center;
    margin-bottom: 10px;

}

.menu img  {
    width: 15%;
    margin-right: 5px;
}

.playlist-menu .menu li:first-child {
    font-size: 14px;
}

.playlist-menu .menu i:first-child {
    font-size: 40px;
    margin-right: 10px;
}

.playlist-menu .menu .link {
    margin-bottom: 20px;
}

/* MAIN */

main {
    width: calc(100% - 200px);
    padding-top: 100px;
}

.fixed-header {
    background-color: rgba(0, 0, 0, .4);
    height: 80px;
    text-align: right;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
}

.btn {
    vertical-align: middle;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 30px;
    background-color: transparent;
    padding: 10px 30px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;

}





footer {
    height: 90px; /*REMOVE ME? */
}